<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
	<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<main th:object="${item}" th:each="p:${item}" class="poly-item-detail mt-3">
		<div class="row">
			<div class="card border-primary">
				<div class="card-body text-center"> 
					<img th:src="@{|/assets/images/*{image}|}">
				</div>
			</div>
			
			<div class="card border-primary mt-3"> 
				<div class="card-body "> 
					<ul>
						<li th:text="*{name}"></li>
						<li th:text="*{price}"></li>
						<li th:text="*{createDate}"></li>
						<li th:text="*{category.name}"> </li>
					</ul>
				</div>
				
				<div class="card-footer text-right"> 
					<button th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn btn-success">
						Add to Cart
					</button>
				
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="card border-primary mt-3">
				<div class="card-header">HÀNG CÙNG LOẠI</div>
				<div class="card-body">
					<ul>
					<li th:each="p:*{category.products}">
					<a th:href="@{|/product/detailProduct/${p.id}|}" th:text="${p.name}"></a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</body>
</html>