<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<main th:object="${order}" class="container mt-5">
        <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white">ORDER INFORMATION</div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Order Number:</label>
                        <input th:field="*{id}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Purchaser:</label>
                        <input th:field="*{account.username}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Purchased Date:</label>
                        <input th:field="*{createDate}" class="form-control" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-12">
                        <label>Shipping Address:</label>
                        <textarea th:field="*{address}" class="form-control" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">ORDER LINES</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detail : *{orderDetails}" th:object="${detail}">
                            <td>[[*{product.id}]]</td>
                            <td>[[*{product.name}]]</td>
                            <td>$[[*{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}]]</td>
                            <td>[[*{quantity}]]</td>
                            <td>$[[*{#numbers.formatDecimal(price * quantity, 0, 'COMMA', 2, 'POINT')}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>