<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<main class="container mt-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">YOUR ORDERS PURCHASED</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Order No.</th>
                            <th>Order Date</th>
                            <th>Shipping Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order, state : ${orders}">
                            <td>[[${state.index + 1}]]</td>
                            <td>[[${order.id}]]</td>
                            <td>[[${order.createDate}]]</td>
                            <td>[[${order.address}]]</td>
                            <td>
                                <a th:href="@{|/order/detailOrder/${order.id}|}" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>