<div class="card">
	<div class="card-header">PRODUCT LIST</div>
	<div class="card-body">
		<table class="table table-hover table-bordered">
			<thead class="table-success" style="font-variant: small-caps;">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Date</th>
					<th>Image</th>
					<th>Category</th>
					<th>Available?</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.price | number: 2}}</td>
					<td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
					<td>{{item.image}}</td>
					<td>{{item.category.name}}</td>
					<td>{{item.available?'Yes': 'No'}}</td>
					<td>
						<div class="btn-group btn-group-sm" role="group">
							<button ng-click="edit(item)" class="btn btn-warning">
								<i class="fa-regular fa-pen-to-square"></i>
							</button>
							<button ng-click="delete(item)" class="btn btn-danger">
								<i class="fa-regular fa-trash-can"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-center">
		<button class="btn btn-danger" ng-click="pager.first()"
			ng-disabled="pager.page == 0">
			<i class="fa-solid fa-backward-fast"></i>
		</button>

		<button class="btn btn-primary" ng-click="pager.prev()"
			ng-disabled="pager.page == 0">
			<i class="fa-solid fa-backward-step"></i>
		</button>

		<button class="btn btn-success">{{pager.page + 1}} of
			{{pager.count}}</button>

		<button class="btn btn-primary" ng-click="pager.next()"
			ng-disabled="pager.page >= pager.count - 1">
			<i class="fa-solid fa-forward-step"></i>
		</button>

		<button class="btn btn-danger" ng-click="pager.last()"
			ng-disabled="pager.page >= pager.count - 1">
			<i class="fa-solid fa-forward-fast"></i>
		</button>

	</div>
</div>
